.MainDash {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    width: 70%;
}

.spinner{
    position: absolute;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}