
.answer-timer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #9c9c9c;
}

.progress {
    height: 5px;
    transition-duration: 3s;
    width: 0;
    transition-timing-function: linear;
}