@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

/* body {
    font-family: 'Courier New', Courier, monospace;
     background: linear-gradient(0deg,#150080 0.03%, #d08642);
    color: #2d264b; 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0 30px;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
} 
*/
.spinner{
  position: absolute;
  margin: auto;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
}

.QuizContainer {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  width: 100vw;
  align-items: center;
  /* background: linear-gradient(rgb(248, 212, 154) -146.42%, rgb(255 202 113) -46.42%) */
  background-image: url('newImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-start;
  padding-left: 24rem;
}

.quiz-container {
  background-color: #a7dcff;
  border-radius: 4px;
  padding: 30px 60px;
  box-sizing: border-box;
  position: relative;
  background: rgba(255, 255, 255, 0.54);
  width: 70%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.QuestionNo {
    display: flex;
    flex-direction: row;
}

.active-question-no {
  font-size: 32px;
  font-weight: 500;
  color: #2173a3;
  margin-left: 20rem;
}

.total-question {
  font-size: 16px;
  font-weight: 600;
  color: #1e6a7d;
}

h2 {
  font-size: 17px;
  font-weight: 600;
  margin: 0;
  color: #1e6a7d;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

ul {
  /* margin-left: -40px; */ 
  margin-bottom: 1rem;
}

.lista {
  text-decoration: none;
  list-style: none;
  color: #2d264b;
  font-size: 16px;
  font-weight: 900;
  color: #72b2c2;
  background: #edf2f3;
  border: 1px solid #9c9c9c;
  border-radius: 16px;
  padding: 5px;  
  padding-left: 2rem;
  margin-top: 15px;
  margin-left: 14rem;
  cursor: pointer;
  border: none;
  width: 15rem;
}

.selected-ans {
  background: #2f6eac;
  color: #fff;
  box-shadow: 0px 4px 6px rgba(58, 124, 160, 0.5);
  font-weight:800;
}

.footer {
  display: flex;
  justify-content: flex-end;
}

/* button {
    background: linear-gradient(0deg,#150080 0.03%, #d08642);
    border-radius: 9px;
    font-size: 18px;
    color: #fff;
    padding: 10px 42px;
    outline: none;
    border: none;
    margin-top: 15px;
    cursor: pointer;
} */

.footer button {
    margin-top: 15px;
    background-color: #4080c1;
    border: none;
}

.footer button:hover {
  box-shadow: 0px 4px 6px rgba(58, 124, 160, 0.5);
}

.footer button:disabled {
  background: #0f5c9c;
  color: #d8e7f4;
  cursor: not-allowed;
  margin-top: 15px;
  border: none;
}

.result {
  text-align: center;
}

.result button {
  margin-top: 15px;
    background-color: #150080;
    border: none;
}

.result button:hover {
  box-shadow: 0px 4px 6px rgba(21, 0, 128, 0.5);
}

.result h3 {
  font-size: 24px;
  letter-spacing: 1.4px;
  text-align: center;
}

.result p {
  font-size: 16px;
  font-weight: 500;
}

.result span {
  color: #150080;
  font-size: 22px;
}

input {
  border: 1px solid #9c9c9c;
  border-radius: 4px;
  padding: 10px 20px;
  width: 100%;
  margin-top: 20px;
  box-sizing: border-box;
}

.passed {
  color: green;
  font-weight: bold;
}

.failed {
  color: red;
  font-weight: bold;
}